.logo-color:hover{
    color:peru;
}
.btn-color{
    background-color:paleturquoise;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
}

.btn-pack{
    background-color: #fddcf0;
    color: #87b2f1;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 40px;
}
.app-logo img{
    width: 50%;
    float: right;
}