/* Font-Fmaily */

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');

/* Common Styles */
 
body{
    font-family: 'Poppins', sans-serif;
}

.logo-color:hover{
    color:peru;
}
.btn-color{
    background-color:dodgerblue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
}

.btn-pack{
    background-color: #fddcf0;
    color: #87b2f1;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 40px;
}

.fa-check-circle p{
    font-size: 15px;
}

.fa-check-circle{
    color: mediumslateblue;
}

.faq-image img{
    width: 100%;
}

.app-logo img{
    width: 50%;
    float: right;
}
.btn-outliner{
    margin: 0px auto;
    display: block;
    padding: 5px 50px;
}
.gmail a{
    text-decoration: none;
    color:lightslategray;
}
